<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
		<meta name="description" content="" />
		<meta name="author" content="" />
		<title>Juniper Design</title>
		<!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/css/bootstrapValidator.min.css">
		<link rel="stylesheet" href="normalize.css">
		<link rel="stylesheet" href="styles2.css">
	</head>
	<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default" style="margin:0;z-index:1000;border-radius;border-bottom:1px solid #a2a2a2;padding:30px 50px 0 50px;">
      <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="index.html" title="Go back to main page of Juniper Designs"><img src="juniperdesignlogo.png" alt="Logo for Juniper Design"></a>
        <a class="navbar-text" href="index.html" title="Go back to main page of Juniper Designs" style="text-decoration:none;">JUNIPER</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right" style="border:none;">
        <li class="projects"><a id="btn-project" href="#" title="Projects" style="color:white;">projects</a></li>
        <li class="about-me"><a href="#" title="About Me" style="color:white;">about me</a></li>
        <li class="contact"><a href="#" title="Contact Me" style="color:white;">contact</a></li>
      </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
    </nav><!-- end Navigation -->

<!--Slide in projects on button click-->
<div class="container-wrapper overlay text-center" style="position:absolute;top:0;left:0;right:0;">
  <div class="page-projects container-fluid" style="display:none;z-index:999;">
    <div class="row casecontainer">
      <ul class="cases overview clearfix loading">
        <li class="case container text-left" id="case-s2c">
          <div class="title row">
            <img class="client client-S2C" src="s2cmobile_logo5-wt.png" alt="client:S2C" title="client:S2C"/>
            <h2 style="padding-top:6px;">compliance technology</h2>
          </div>
          <div class="description row">
            <p><svg height="10" width="10"><line x1="0" y1="0" x2="200" y2="200" style="stroke:rgb(255,0,0);stroke-width:2" /></svg>

              i designed a functional dashboard and management portal to monitor compliance standards among S2C's gas and oil industrial clients.

            </p>
          </div>
          <div class="row btn-row">
            <a href="s2c.html" class="btn btn-lg case-study case-study1 case-studye" title="S2C">case study<span></span></a>
          </div>
        </li>
        <li class="case container text-left" id="case-brainstem">
          <div class="title row">
						<div style="display:inline-block;">
	            <img class="client client-Brainstem" src="Brainstem-logo.png" alt="client:Brainstem" title="client:Brainstem" />
							<p style="font-family:phantom;display:inherit">BRAINSTEM</p>
					  </div>
            <h2 style="color:#fbb03b;">unlock your genius</h2>
          </div>
          <div class="description row">
            <p><svg height="10" width="10"><line x1="0" y1="0" x2="200" y2="200" style="stroke:rgb(255,0,0);stroke-width:2" /></svg>

              since 2016, I've been developing an interactive learning environment to prepare students for a future career in STEM.

            </p>
          </div>
          <div class="row btn-row">
            <a href="brainstem.html" class="btn btn-lg case-study case-study1 case-studye" title="Brainstem">case study<span></span></a>
          </div>
        </li>
        <li class="case container text-left" id="case-misc" style="padding-top:60px;">
          <div class="title row" style="height:64.5%;">
            <h2 class="threerows">Out of this world</h2>
          </div>
          <div class="description row" style="height:18.5%;">
            <p><svg height="10" width="10"><line x1="0" y1="0" x2="200" y2="200" style="stroke:rgb(255,0,0);stroke-width:2" /></svg>

              Juniper design is not simply designed, but designed with simplicity in mind.

            </p>
          </div>
          <div class="row btn-row">
            <a href="juniper.html" class="btn btn-lg case-study case-study1 case-studye" title="Juniper Design">case study<span></span></a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div><!--end Slide In Projects-->

<footer>
  <ul>
    <li><a href="#" title="EN">en</a></li>
    <li><a href="#" title="ESP">esp</a></li>
    <li><a href="#" title="GTC">gtc</a></li>
    <li><a href="#" title="imprint">imprint</a></li>
    <li><a href="#" title="Juniper Design on Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
    <li><a href="#" title="Juniper Design on Behance"><i class="fa fa-behance-square" aria-hidden="true"></i></a></li>
  </ul>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/js/bootstrapValidator.min.js"></script>
<script src="bootstrapValidator.js"></script>
<script src="jquery.lettering-0.6.1.min.js"></script>
<!--<script src="kern.js"></script>--><!--For changing the kerning with the Phantom Font during production-->
<script>
$(document).ready(function() {
  $("h1").lettering();
});
</script>
<script>
  $('document').ready(function() {
    $('.page-projects').fadeIn();
    $('.container-wrapper').addClass('overlay-on');
    $('.cases').each(function(index, element) {
      setTimeout(function(){
          element.classList.remove('loading');
      }, index * 500);
    });
  });
</script>
</body>
</html>
